*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;

  &.no-scroll {
    overflow: hidden;
  }
}

header, section:not(.testimonials), footer {
  @include respond(mobile) {
    padding-left: $padding-side-mobile !important;
    padding-right: $padding-side-mobile !important;
  }
}
